<link rel="stylesheet" href="css/bootstrap.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>

<div class="container" id="app">
    <template>
        <table class="table">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
            </tr>
            <tr v-for="prod in products">
                <td>{{ prod.code }}</td>
                <td>{{ prod.name }}</td>
                <td>{{ prod.unitPrice }}</td>
                <td><img width="300" :src="prod.imageURL"></td>
                <td>
                    <a href='#' v-on:click="productId=prod.id; openPopup()"
                        class="btn btn-primary" data-toggle="modal" data-target="#productModal">Edit</a>
                    <a href='#' v-on:click="deleteProduct(prod.id)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal"
            v-on:click="productId=null; openPopup()">Add product</button>
        <!-- Modal -->
        <div class="modal fade" id="productModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Product info</h5>
                        <button id='closeButton' type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Product code</label>
                            <span class="float-right" style="color:red" id="code_error"></span>
                            <input v-model='code' class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Product name</label>
                            <span class="float-right" style="color:red" id="name_error"></span>
                            <input id='name' v-model='name' class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <span class="float-right" style="color:red" id="description_error"></span>
                            <input id='description' v-model='description' class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Unit Price</label>
                            <span class="float-right" style="color:red" id="unitPrice_error"></span>
                            <input id='unitPrice' v-model='unitPrice' class="form-control">
                        </div>
                        <div class="form-group mt-3">
                            <label>Image</label>
                            <span class="float-right" style="color:red" id="image_error"></span>
                            <input id='image' type="file" @change="updateImage($event)">
                        </div>
                        <div class="mt-3">                            
                            <button v-on:click="addUpdateProduct()" type="button" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>    
</div>
<script>
var app = new Vue({
    el: '#app',
    data: {
      baseURL : 'http://localhost:8000',
      productId: null, code : '', name: '', description: '', unitPrice: '', image: null,
      products : []
    },
    methods : {
        getProducts: function() {
            fetch(this.baseURL + '/products')
            .then(resp => resp.json())
            .then(result => {                
                this.products = result;
            });
        },

        updateImage : function(ev) {
            this.image = ev.target.files[0];
        },

        showErrors: function(errors) {
            for(var param in errors) {
                var element = document.getElementById(`${param}_error`);
                if(element) {
                    element.innerHTML = errors[param];
                }
            }
        },

        clearErrors: function() {
            var params = ['code', 'name', 'description', 'unitPrice', 'image'];
            for(var i in params) {
                var param = params[i];
                var element = document.getElementById(`${param}_error`);
                if(element) {
                    element.innerHTML = '';
                }
            }
        },

        openPopup : function() {            
            this.clearErrors();
            this.code = this.name = this.description = this.unitPrice = "";
            this.image = null;
            document.getElementById('image').value = "";
            if(this.productId) {
                var url = this.baseURL + '/product/' + this.productId;
                fetch(url).then(resp => resp.json()).then(
                    result => {
                        this.code = result.code;
                        this.name = result.name;
                        this.description = result.description;
                        this.unitPrice = result.unitPrice;
                    }
                ) 
            }
        },

        addUpdateProduct: function() {
            var data = new FormData()
            data.append("code", this.code);
            data.append("name", this.name);
            data.append("description", this.description);
            data.append("unitPrice", this.unitPrice);            
            data.append("image", this.image);
            
            var url = this.baseURL + '/create_product';
            var method = 'POST';

            if(this.productId) {
                url = this.baseURL + '/update_product/' + this.productId;
                method = 'PUT';
            }            

            fetch(url, {
                method: method,
                body: data                
            }).then(resp => resp.json())
              .then(result => {
                  if(result.success) {
                    this.getProducts();
                    $('#closeButton').click();
                  }else{
                    this.showErrors(result.errors);
                  }
              });
        },

        deleteProduct: function(productId) {
            if(confirm('Do you want to delete this product?')) {
                var url = this.baseURL + '/delete_product/' + productId;
                fetch(url, {method: "DELETE"})
                    .then(resp => resp.json())
                    .then(_ => this.getProducts());
            }
        }
    },
    
    created: function() {
        this.getProducts()
    }
  })
</script>  